html{
    display: flex;
    justify-content: center;
}
body{
    padding: 20px;
    max-width: 1440px;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
section{
    background-color: hsl(0, 0%, 100%);
    padding: 40px;
    border-radius: 25px;
    max-width: 700px;
    color: hsl(30, 10%, 34%);
}

#img{
background-image: url("./assets/images/image-omelette.jpeg");
background-size: cover;
height: 490px;
border-radius: 20px;
}

h1{
    font-family:'Young Serif', serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: hsl(24, 5%, 18%);
}

h2{
    font-family:'Young Serif', serif;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    color: hsl(14, 45%, 36%);
}

h3{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: hsl(332, 51%, 32%);
}

p{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

#prep{
    border-radius: 10px;
    padding: 20px;
    background-color: hsl(330, 100%, 98%);
}

span{
    font-weight: 600;
    color: hsl(30, 10%, 34%);
}

.liner{
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
    border-bottom: 1px solid lightgray;
}

ul{
    list-style-type:disc;
    padding-left: 25px;
}
li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
li{
    font-family: 'Outfit', sans-serif;
    line-height: 30px;
}
ol{
    padding-left:20px;
}

table{
    border-collapse: collapse;
    width:100%;
    line-height: 35px;
    
}
tr{
    border-bottom: 1px solid lightgrey;
    font-family: 'Outfit', sans-serif;
}

.measures{
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}